<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jasonxqh.infrastructure.dao.IRaffleActivityDao">
  <resultMap id="dataMap" type="io.github.jasonxqh.infrastructure.dao.po.activity.RaffleActivity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_desc" jdbcType="VARCHAR" property="activityDesc" />
    <result column="begin_date_time" jdbcType="TIMESTAMP" property="beginDateTime" />
    <result column="end_date_time" jdbcType="TIMESTAMP" property="endDateTime" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


    <select id="queryRaffleActivityByActivityId" parameterType="java.lang.Long" resultMap="dataMap">
        select  activity_id,
                activity_name,
                activity_desc,
                begin_date_time,
                end_date_time,
                strategy_id, state
        from raffle_activity
        where activity_id = #{activityId}
    </select>

    <select id="queryStrategyIdByActivityId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select strategy_id from raffle_activity where activity_id = #{activityId}
    </select>

  <select id="queryActivityIdByStrategyId" parameterType="java.lang.Long"   resultType="java.lang.Long">
      select activity_id from raffle_activity where strategy_id = #{strategyId}
    </select>
</mapper>