<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jasonxqh.infrastructure.dao.IStrategyAwardDao">

    <resultMap id="dataMap" type="io.github.jasonxqh.infrastructure.dao.po.strategy.StrategyAward">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="award_id" property="awardId"/>
        <result column="award_title" property="awardTitle"/>
        <result column="award_subtitle" property="awardSubtitle"/>
        <result column="award_count" property="awardCount"/>
        <result column="award_count_surplus" property="awardCountSurplus"/>
        <result column="award_rate" property="awardRate"/>
        <result column="rule_models" property="ruleModels"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>


    <select id="queryStrategyAwardList" resultMap="dataMap">
        SELECT  strategy_id,
                award_id,
                award_title,
                award_subtitle,
                award_count,
                award_count_surplus,
                award_rate,
                rule_models,
                sort
        FROM strategy_award
        WHERE strategy_id = #{strategyId};
    </select>

    <select id="queryStrategyAwardListByStrategyId" parameterType="java.lang.Long" resultMap="dataMap">
        select strategy_id, award_id, award_title, award_subtitle, award_count, award_count_surplus, award_rate, sort
        from strategy_award
        where strategy_id = #{strategyId}
        order by sort asc
    </select>

    <select id="queryStrategyAward" parameterType="io.github.jasonxqh.infrastructure.dao.po.strategy.StrategyAward" resultMap="dataMap">
        SELECT  strategy_id,
                award_id,
                award_title,
                award_subtitle,
                award_count,
                award_count_surplus,
                award_rate,
                rule_models,
                sort
        FROM strategy_award
        WHERE strategy_id = #{strategyId}
        AND award_id = #{awardId};
    </select>


    <select id="queryStrategyAwardRuleModel" parameterType="io.github.jasonxqh.infrastructure.dao.po.strategy.StrategyAward" resultType="java.lang.String">
        SELECT  rule_models
        FROM strategy_award
        WHERE strategy_id = #{strategyId}
        AND award_id = #{awardId};
    </select>

    <update id="updateStrategyAwardStock" >
        UPDATE strategy_award
        SET award_count_surplus = award_count_surplus -1
        WHERE strategy_id = #{strategyId}
          AND award_id = #{awardId}
          AND award_count_surplus > 0
    </update>

    <update id="clearStrategyAwardStock" parameterType="io.github.jasonxqh.infrastructure.dao.po.strategy.StrategyAward">
        update strategy_award
        set award_count_surplus = 0,update_time = now()
        where award_id = #{awardId}
        and strategy_id = #{strategyId}
    </update>
</mapper>
