<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jasonxqh.infrastructure.dao.IUserCreditOrderDao">
  <resultMap id="BaseResultMap" type="io.github.jasonxqh.infrastructure.dao.po.credit.UserCreditOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="trade_name" jdbcType="VARCHAR" property="tradeName" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="trade_amount" jdbcType="DECIMAL" property="tradeAmount" />
    <result column="out_business_no" jdbcType="VARCHAR" property="outBusinessNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="saveUserCreditOrder" parameterType="io.github.jasonxqh.infrastructure.dao.po.credit.UserCreditOrder">
    insert into user_credit_order
    (
    user_id,
    order_id,
    trade_name,
    trade_type,
    trade_amount,
    out_business_no,
    create_time,
    update_time)
    values
    (#{userId}, #{orderId}, #{tradeName}, #{tradeType},#{tradeAmount},#{outBusinessNo}, now(), now())
  </insert>
</mapper>