<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jasonxqh.infrastructure.dao.RaffleActivityAccountDao">
  <resultMap id="BaseResultMap" type="io.github.jasonxqh.infrastructure.dao.po.activity.RaffleActivityAccount">
    <!--@mbg.generated-->
    <!--@Table raffle_activity_account-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="total_count_surplus" jdbcType="INTEGER" property="totalCountSurplus" />
    <result column="day_count" jdbcType="INTEGER" property="dayCount" />
    <result column="day_count_surplus" jdbcType="INTEGER" property="dayCountSurplus" />
    <result column="month_count" jdbcType="INTEGER" property="monthCount" />
    <result column="month_count_surplus" jdbcType="INTEGER" property="monthCountSurplus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, activity_id, total_count, total_count_surplus, day_count, day_count_surplus, 
    month_count, month_count_surplus, create_time, update_time
  </sql>
</mapper>